nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;  
    backdrop-filter: blur(5px);
    margin-right: 25px;
}
body{
    background-image:linear-gradient(180deg,#65fbd2,#00dede,#00bedf,#009cd3);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
html {
    scroll-behavior: smooth;
  }
.logo img{
    max-height: 55px;
    border-radius: 100px;
    margin: 15px;
    border: 3px solid #65fbd2;
}
.logo img:hover{
    border: 3px solid #248ee6;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover {
    color: black;
}
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: black;
    transition: 0.3s;
    bottom: 0;
}
nav ul li a:hover:after {
    width: 100%;
}

/*home*/
#index {
    height: 100vh;
    padding: 8rem 0;
    align-items: center;
}

#index h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
#index img{
    border-radius: 10px;
}
#about{
    height: 100vh;
    padding: 8rem 0;
    align-items: center;
}

#about h2{
    font-size: 4rem;
    margin-bottom: 20px;
}

#about p{
    font-size: 20px;
}

#about img{
    width: 25rem;
      display: block;
  margin-left: auto;
  margin-right: auto;
}

#features{
    height: 100vh;
    padding: 8rem 0;
}

#features img{
    height: 325px;
    width: auto;
    margin: 10px;
}

.card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
  }

  /*gallery*/
#gallery{
    height: 80vh;
    padding: 8rem 0;
}


#gallery img{
    height: 150px;
    width: 250px;
    margin: 10px;
    
}



/*contact*/
#contact{
    height: 100vh;
    padding: 8rem 0;
}
.content-section {
    display: block;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    padding: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    margin: 20px auto;
}



.section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: black;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: black;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: beige;
  text-align: center;
  border: 2px solid black;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: black;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .rows {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
